<?xml version="1.0" encoding="UTF-8"?>
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
	<Fragment>

		<Binary Id="JScriptDriverInst" SourceFile="Scripts\DriverCommands.js" />
		
		<CustomAction Id='Install_Signed_Driver'
				  
					  Execute='deferred'
					  BinaryRef="JScriptDriverInst"
					  JScriptCall="InstallDriver"
					  Return='asyncWait' />

		<InstallExecuteSequence>
			<Custom Action="Install_Signed_Driver" After="InstallFiles" />
		</InstallExecuteSequence>
		
	</Fragment>
</Wix>
